{% extends 'base.html' %}

{% block content %}
    <h5 style="text-align: center">Search results for: "{{ search | title }}"</h5>

    <div class="row">

        {% for result in results %}
    
            <div class="col-3 mt-5">
                <div class="card">
                    <div class="card-img-top">
                        <a href="/"><img id="currentPhoto" style='width: 100%' src="{{ result.2 }}" onerror="this.onerror=null; this.src='../../static/record.png'"></a>
                    </div>
                    <div class="card-body">
                        <p class="card-title"><b>{{ result.0 | title }}</b></p>
                        <p class="card-text">{{ result.1 | title }}</p>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock content %}